.wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.imageStyle {
  height: 500px;
  img {
    object-fit: contain;
    height: 500px;
  }
}

.photoWrapper {
  margin-top: 12px;
}

.header {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  width: 100%;
  position: fixed;
  margin: auto;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.428);
}

.menu {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 24px;
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}

.content {
  flex: 1;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: rgba(29, 28, 27, 0.724);
}
