.video-bg {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  
  .video-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .video-bg__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .description_wrapper {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(57, 187, 146, 0.244);
  }

  .banner_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .banner_text {
    max-width: 400px;
    margin: auto;
    font-size: 20px;
  }
  
  .video-bg__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .date {
    font-size: 40px !important;
  }

  .video-bg__content {
    font-family: 'zapfino';
  }
  
  .video-bg__content h2 {
    font-family: 'zapfino';
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .video-bg__content p {
    font-size: 60px;
  }
  
  .video-bg__images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .video-bg__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
  }
  
  .header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
  }
  
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    margin: 0 10px;
  }
  
  .nav__link {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }